@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat';
}

body{
  background: #313131;
  font-size: 14px;
  color: #2d363d;
  letter-spacing: 1px;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.wrapper .resume{
  width: 450px;
  margin: 5px auto;
  background:  #121212;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125), -1px -1px 2px rgba(0,0,0,0.125);
}

.resume .profile_info {
  text-align: center;
}

.resume .profile_info .profile_img {
  width: 100px;
  margin: 0 auto 5px;
}

.resume .profile_info .profile_img img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.resume .profile_info .profile_data .name {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Alfa Slab One';
  color: #03DAC6;
}

.resume .profile_info .profile_data span {
  display: inline-block;
  color: #CF6679;
}

.resume .btn a{
    display: block;
    background: #CF6679;
    color: #121212;
    margin-top:5px;
    padding-left: 2px;
    width: 200px;
  
  border-radius: 3px;
}

.resume .btn a:hover {
    background: #03DAC6;
}

.resume .title{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.skills ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  color: #121212
}

.skills ul li{
  padding: 0 5px 10px;
  width: 33.32%;
  height: 85px;
}

.skills ul li .skill_item{
  background: #FFC300;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  padding: 15px 10px;
}

.skills ul li .skill_item .icon{
  background: url("skills.jpeg") no-repeat -1px 0;
  width: 20px;
  height: 22px;
  margin: 0 auto 5px;
}

.skills ul li .skill_item.css .icon{
  background-position: 0 -26px;
}

.skills ul li .skill_item.js .icon{
  background-position: 0 -52px;
   height: 24px;
}

.skills ul li .skill_item.photoshop .icon{
  background-position: -1px -79px;
}

.skills ul li .skill_item.angular .icon{
  background-position: -1px -101px;
}

.skills ul li .skill_item.react .icon{
  background-position: -1px -125px;
}

.full_info_wrap .tabs ul{
  display: flex;
  width: 100%;
  height: 36px;
  border: 1px solid #03DAC6;
  border-radius: 5px;
}

.full_info_wrap .tabs ul li{
  padding: 10px 15px;
  width: 33.34%;
  height: 34px;
  text-align: center;
  border-right: 1px solid #03DAC6;
  background: #073642;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.full_info_wrap .tabs ul li:last-child{
  border-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.full_info_wrap .tabs ul li.active,
.full_info_wrap .tabs ul li:hover{
  background: #FFC300;
  color: #121212 ;
}

.full_info{
  padding-top: 25px;
  height: 295px;
  overflow: auto;
}

.info_wrap{
  padding-top: 5px;
  padding-left: 5px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 5px dashed #fff;
}

.info_wrap ul li{
  margin-bottom: 10px;
}

.info_wrap ul li:last-child{
  margin-bottom: 0;
}

.info_wrap .sub_title{
  font-size: 16px;
  font-weight: 600;
  color: #018786;
}

.info_wrap .info_item{
  padding-top: 10px;
  padding-left: 15px;
}

.info_wrap .info_item .info_title{
  font-weight: 600;
  margin-bottom: 5px;
  color: #FFC300;
}

.info_wrap .info_item .data{
  font-size: 12px;
  color: #CF6679; 
  font-style: italic;
}

.contact .info_wrap ul li span{
  display: inline-block;
}

.contact .info_wrap ul li span.info_q{
  width: 150px;
  color: #FFC300;
  font-weight: 200;
}

.contact .info_wrap ul li span.info_a{
  font-weight: 600;
  color: #fff;
}
.connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
}